{% load static %}
<!DOCTYPE HTML>

<html>
    <head>
        <title>
            Find Stores
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJXEgMu_CW7bsxUYfrTMHRqXmdhv4MUdw&libraries=geometry,places&callback=initMap">
        </script>
        <link rel="stylesheet" href="{% static 'global_style.css' %}" type="text/css" />
    </head>
    
    <body>
        <div id="topnav-container">
            <ul id="topnav">
                <li class="nav-item"><a href="{% url 'landing' %}">Home</a></li>
                <li class="nav-item"><a href="{% url 'map' %}">Locate Groceries</a></li>
                <li class="nav-item"><a href="{% url 'shoppinglist' %}">Find Recipes</a></li>
            </ul>
        </div>

        <br>
        <h1>Locate SNAP Groceries</h1>
        <label for="address" id="address_label">Address:</label>
        <input type="text" id="address" name="address" value="500 Parker St., Boston, MA"><br><br>
        <label for="radius" id="radius_label">Radius (miles):</label>
        <input type="number" id="radius" name="radius" value="1"><br><br>
        <input type="submit" value="Submit" id="submit" onclick="sendLocation()">

        <div id="results">
            <div id="map">

            </div>

            <div id="supermarket_list">

            </div>
        </div>
    </body>
</html>
{% block extrascripts %}<script type="text/JavaScript" src="{%  static 'map.js' %}"></script>{% endblock %}