{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>
      SNAPpy - Recipe finder
    </title>
    <style>
        body {
          margin: auto;
          text-align: center;
        }

        #new-item {
          margin: auto;
        }
    </style>
    <link rel="stylesheet" href="{% static 'global_style.css' %}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  </head>

  <body>
    <!-- Add this div to top!-->
    <div id="topnav-container">
        <ul id="topnav">
            <li class="nav-item"><a href="{% url 'landing' %}">Home</a></li>
            <li class="nav-item"><a href="{% url 'map' %}">Locate Groceries</a></li>
            <li class="nav-item"><a href="{% url 'shoppinglist' %}">Find Recipes</a></li>
        </ul>
    </div>

    <div id="input-content">
    <h1>Find new recipes based on your shopping list</h1>

    <h3>Instructions</h3>
        <div class="content-box">
            <p> Enter your shopping list, one item at a time. We will try to generate some recipes you can make with just those ingredients, or possibly a few more. </p>
            <p> These recipes are intended to be quick, inexpensive, and easy to prepare. Good food doesn't need expensive ingredients and hours of labor. 
                Exploring new recipes can bring new life to your food, even if you have the same ingredients every week.
            </p>
        </div>
        <br>
        <h3>Input Shopping List</h3>
        <div class="content-box">
            <br>
            <div id="list-container">
            <div id="new-item">
                <input id="new-item-name" type="text" placeholder="Enter new item..."></input>
                <button id="add-item-button" onclick="addItem()">Add</button>
            </div>
            <br>
            <div id="list-items">
                <ul id="shopping-list">
                </ul>
            </div>
            </div>
            <br>
            <button id="submit" onclick="sendList()">Find Recipes</button>
            <br>
        </div>
        <br>
        <br>

        <div class="content-box">
          <p> Once you select the "Find Recipes" button, a link to a recipe will appear below. Please scroll down to view it.
            Please note that any recipe here will redirect you to an external website unaffiliated with SNAPpy, and that
            we cannot moderate the content you may find on these websites.
          </p>

          <p> Once you select the "Find Recipes" button, a link to a recipe will appear below.
            Please note that any recipe here will redirect you to an external website unaffiliated with SNAPpy, and that
            we cannot moderate the content you may find on these websites.
          </p>
          <p>
            If we can't find any recipes based on your shopping list, please check your spelling and try refreshing the page, then re-entering your list.
          </p>
        </div>
        <br>
        <div id="results" class="content-box">

        </div>
    </div>
  </body>
</html>

{% block extrascripts %}<script type="text/JavaScript" src="{%  static 'shopping_list.js' %}"></script>{% endblock %}
