<!DOCTYPE HTML>
<html>
  <head>
    <title>
      SNAPpy
    </title>
    <style>
        body {
          margin: auto;
          text-align: center;
        }

        #new-item {
          margin: auto;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script id="list-operations"> 
      
      // add a new item to the list
      let addItem = () => {
        // re-enable the submit button if it has been disabled
        document.getElementById('submit').onclick = "sendList()";

        const inputBox = document.getElementById("new-item-name");
        const itemName = inputBox.value;
        inputBox.value = ""
        const shoppingList = document.getElementById("shopping-list");
        let newItem = document.createElement("li");
        newItem.appendChild(document.createTextNode(itemName));
        shoppingList.appendChild(newItem);
      }

      // return an array of all the item names in the list
      let summarize_list = () => {
        const shoppingList = document.getElementById("shopping-list");
        
        output = [];

        // childNodes needs to be shifted because of the TextNode.
        for (let li of shoppingList.childNodes.shift().values()) {
          output.push(li.innerHTML)
        }
        return output;
      }

        // sends the current shopping list 
        let sendList = () => {
            // disable the button until the list is altered.
            document.getElementById('submit').onclick = "";

            const items = summarize_list();
            const location = getLocation();
            const radius = 5; // miles

            const address = "{% url 'shoppinglist' %}"
            const data = 
            {
            shoppingList: items,
            }

            $.post(address, data)
        }
                
      
    </script>
  </head>

  <body>
    <h1>Welcome to SNAPpy</h1>
    <br>
    <br>
    <a href="{% url 'landing' %}"> Landing</a>
    <br>
    <a href="{% url 'map' %}"> Map</a>
    <br>

    <h3>Instructions</h3>
    <br>
    <h3>Input Shopping List</h3>
    <br>
    <div id="list-container">
      <div id="new-item">
        <input id="new-item-name" type="text" placeholder="Enter new item..."></input>
        <button id="add-item-button" onclick="addItem()">Add</button>
      </div>
      <br>
      <div id="list-items">
        <ul id="shopping-list">
        </ul>
      </div>
    </div>
    <br>
    <button id="submit" onclick="sendList()">Find Stores</button>:
    <br>
    <br>
    <br>
    <div id="results">

    </div>
  </body>
</html>